
<%= form_with(model: quiz, html: {
  style: "
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 15vw;
    "
  }) do |form| %>
  <% if quiz.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%# 1. Hidden User ID %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <%# 3. Words (Array of Numbers) %>
  
    <% form.label :words, "Word IDs" %>
    
    <%# To submit an array, we use nil as the first argument and manually set the name with [] %>
    <%# You can repeat this field as many times as needed %>

    <% words.each do |word| %>
      <%= render "words/word", word: word %>
      
      <%= form.hidden_field :words, multiple: true, value: word.id %>
    <% end %>
    
    

  <div style="margin: 10px; display: flex;">
    <%# 2. Score Field %>
    <span>
      <%= form.label :score %>
      <%= form.number_field :score, placeholder: 100 %>
    </span>
    <%= form.submit "Submit" %>
  </div>
<% end %>
