<div style="display: flex; flex-direction: column; align-items: center; justify-content: center">
<p style="color: green"><%= notice %></p>

<p> <%= @quiz.score %> </p>
<p> <%= @quiz.created_at.to_date %> </p>
<p> <%= @quiz.word_list.words %> </p>

<div style="display: flex; align-items: center; justify-content: center">
  <%= button_to "Back to Quizzes", quizzes_path, method: :get %>
  
  <%= button_to "Home", root_path, method: :get, style: "margin: 10px;" %>
</div>
</div>