<% home_style = "
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
"
 button_box = "
   width: 25%;
   display: flex;
   justify-content: space-around;
   align-items: center;
 "
%>
<div style="<%= home_style %>">

<p style="color: green"><%= notice %></p>



<h1>My Words</h1> 
<div style="<%= button_box %>">
<%= button_to "Add New Word", new_word_path, method: :get %>
<%= button_to "Home", root_path, method: :get %>
</div>

<div id="words">
  <% @words.each do |word| %>
    <p>
      <%= render word %>
    </p>
  <% end %>
</div>




</div>